# For electron-builder
# https://github.com/electron-userland/electron-builder/issues/6289#issuecomment-1042620422
enable-pre-post-scripts=true
node-linker=hoisted

# For China 🇨🇳 developers
# electron_mirror=https://npmmirror.com/mirrors/electron/
ELECTRON_MIRROR=https://registry.npmmirror.com/-/binary/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://registry.npmmirror.com/-/binary/electron-builder-binaries/
